<h1 style="width: 100%; text-align: center">Welcome to the Cabal</h1>

<img src="/assets/frame.png" style="border-radius: 0;">


<button (click)="showContract = !showContract"
style="width:100%;text-align: center;"
mat-raised-button color="accent">
<mat-icon>assignment</mat-icon>Contract</button>
<iframe *ngIf="showContract"
style="width: 100%;height:100%"
src="https://docs.google.com/document/d/e/2PACX-1vSVlMDWQ8-VVBWNXFA99UxK6Q0CyERNObiZ6HLCg5fTXP7cJeNJRgd0BZGVXbb_O8tWr_Vscp2yQ9C-/pub?embedded=true">
</iframe>

