app-chat {
  padding: 10px;
  margin: 70px auto 100px;
  width: 100%;
}

.msg {
  display: flex;
  align-items: flex-start;
  // margin-left: autos;
  order: 2;
  text-align: left;
  // border-bottom: 1px solid #e9e9e9;
  padding: 5px;
  width: 90vw;
  font-size: 1.3em;
  animation-delay: 0ms;
  animation-duration: 600ms;

  .user {
    margin-right: 10px;
    min-width: 100px;
    border-right: 1px solid #e9e9e9;
  }
}

#chatlist {
  height: 83vh;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 10vw;
  // background: rgba(255, 255, 255, 0.8);
  z-index: 99;
}
.example-form-field {
  padding-left: 0;
  font-size: 18px;
  // position: absolute;
  // z-index: 2;
  // bottom: -30px;
  left: 0;
  width: 100%;
  background: #303030;
  color: gold;
  padding-bottom: 0px;
}