<main id="games" *ngIf="seasonObs | async as season else newSeason">
  {{currentSeason}}
  <h4>
    {{season.gamesCount}}|{{seatCount}}|{{season.usersCount }}
  </h4>
  <h4>| Rounds: {{ (season.gamesCount * seatCount) / season.usersCount }}</h4>
  <h4 *ngIf="user"> | Logged In User: {{ user.displayName }}</h4>
  <button *ngIf="season.currentRound==0" (click)="startRound(season)">start</button>
  <hr>

  <section *ngIf="usersObs | async as users">
    <div fxLayout="row">
      <app-avatar [img]="user.photoURL" [selected]="user.id === season.members[season.nextPick]"
        *ngFor="let user of users"></app-avatar>
    </div>

    <button (click)="susers=!susers">users</button>
    Next Pick: {{getNextPick(season, users).displayName}}
    <ul *ngIf="susers">
      <li *ngFor="let user of users ">
        Pick: <button (click)="changeUser(user)">{{ user.displayName}}</button>
        <pre>
          {{ user | json}}
        </pre>
      </li>
    </ul>
  </section>

  <button (click)="showseason=!showseason">seasons</button>
  <pre *ngIf="showseason">
        {{season | json}}
  </pre>

  <section *ngIf="games">
    <button (click)="sgames=!sgames">games</button>
    <mat-list *ngIf="!sgames">
      <mat-list-item style="height: auto;margin-top: 30px;" *ngFor="let game of games | async">
        <!-- {{game | json}} -->
        <section matListAvatar>
          <div class="pieContainer">
            <div class="pieBackground"></div>
            <div id="pieSlice1" class="hold">
              <div (click)="pick(game, 'A', season)" [style.background-color]="(game.seats.A.length>1)?'grey':'#A19060'"
                class="pie"></div>
            </div>
            <div id="pieSlice3" class="hold">
              <div (click)="pick(game, 'B', season)" [style.background-color]="(game.seats.B.length>1)?'grey':'#80000A'"
                class="pie"></div>
            </div>
            <div id="pieSlice6" class="hold">
              <div (click)="pick(game, 'C', season)" [style.background-color]="(game.seats.C.length>1)?'grey':'black'"
                class="pie"></div>
            </div>
          </div>
          <!-- <button class="seatButton" *ngFor="let seat of getLength(game.seats)" -->
          <!-- <h1> {{game.seats[seat]}} </h1> -->
        </section>
        <header fxLayout="row wrap">
          <h1 style="padding: 0 20px 0 20px;" class="gameHeader" id="date" fxLayout="column"> {{game.date}} </h1>

          <mat-list style="margin: -10px;" fxLayout="column">
            <mat-list-item *ngIf="game.home | fire | async as home">
              <img matListAvatar [src]="home.image">
              <h4 class="team-name"> {{ home.name }} </h4>
            </mat-list-item>
            <mat-list-item *ngIf="game.away | fire | async as away">
              <img matListAvatar [src]="away.image">
              <h4 class="team-name"> {{ away.name }} </h4>
            </mat-list-item>
          </mat-list>
        </header>
      </mat-list-item>
    </mat-list>
  </section>


</main>
<ng-template #newSeason>
  <h1 id="newSeason">
    {{currentSeason}}
  </h1>
  <section *ngIf="usersObs | async as users">
    <div fxLayout="row" fxLayoutAlign="space-around">
      <app-avatar [img]="user.photoURL" [selected]="false"
        *ngFor="let user of shuffle(users)"></app-avatar>
    </div>
    <button id="newSeason" style="background: #80000A" (click)="setNewSeason(users)">NEW SEASON</button>
  </section>
</ng-template>