.team {
    font-size: 25px !important;
}
h1, h2, h3{
    text-decoration: none;
    margin: 0;
}

#snap {
    background: #80000A;
    color: #A19060;
}
img {
  object-fit: cover;
  border-radius: 50%;
  float: left;
}
