#snap {
    background: #80000A;
    color: #A19060;
}

.golf_round {
  width: 100%;
}

.user {

  margin-top: 90px;
  width: 400px;
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
  flex-basis: 50%;
  max-height: 40vh;
  overflow-y: scroll;
}

.slider {

  // border-bottom: 1px solid white;
  // padding: 3rem;
  // font-size: 1.4rem;
  // color: rgba(white, .5);
  // background: lightgray;
  // text-align: center;
  // scroll-snap-align: start;
  // display: flex;
  // flex-flow: column;
  // justify-content: center;


  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.hslide {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.hole {
  order: 0;
  flex: 1 0 auto;
  align-self: stretch;
  min-width: 50%;
}
#holeNumber {
  background: #80000A;
  border-radius: 50%;
  color: #A19060;
  font-size: 150px;
  margin: 0 auto;
  object-fit: cover;
  // padding: 15px 0;
  text-align: center;
  width: 200px;
}
.flexcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}
.par {
  background: black;
  border-radius: 50%;
  color: #80000A;
  font-size: 75px;
  margin: 10px;
  object-fit: cover;
  padding: 5px 0;
  text-align: center;
  width: 100px;
}
.score {
  background:black;
  border-radius: 50%;
  color: #A19060;
  font-size: 75px;
  margin: 10px;
  object-fit: cover;
  padding: 5px 0;
  text-align: center;
  width: 100px;
}


#showusers {
  background: black;
  float: right;
  margin: 0;
  padding: 10px;
}
#showseats {
  background: #80000A;
  float: right;
  margin: 0;
  padding: 10px;
}

#showstars {
  background: #A19060;
  float: left;
  margin: 0;
  padding: 10px;
}
#seatlist {
  background: #80000A;
  list-style: none;
  margin: 0;
  padding: 15px;
  width: 80%;
}
#starlist {
  list-style: none;
  background: #A19060;
  margin: 0;
  padding: 15px;
  width: 80%;
}
#userlist {
  list-style: none;
  background: black;
  height: 300px;
  overflow-y: scroll;
  // margin: 0;
  // margin-left: 7%;
  // padding: 15px;
  // width: 80%;
}